
@{
    Layout = null;
}

    <a id="myCart" asp-controller="Cart" asp-action="Index">
        <img src="~/themes/images/ico-cart.png" alt="cart">3 Items in your cart
        <span class="badge badge-warning pull-right">$155.00</span>
    </a>
