@using Models;

@{
    Layout = null;
}

    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            @foreach (SlideShow slideShow in Model)
            {
                <div class="item">
                    <div class="container">
                        <a href="register.html"><img style="width:100%" src="~/@slideShow.Photo" class="img-responsive" alt="special offers" /></a>
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>