@using Models;

@{
    Layout = null;
    ICollection<Product> products = ViewBag.Products;
}

@foreach (Category category in Model)
{                                                                                                               
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <li class="subMenu open">
            <a> @category.Name [@category.Categories.Count()] </a>

            @if (category.Categories != null && category.Categories.Count() > 0)
            {
                foreach (Category subCatehory in category.Categories)
                {
                    int countSubCategoryProduct = products.Where(p => p.CategoryId == subCatehory.Id && p.Status).Count();

                    if (subCatehory.Status)
                    {
                        <ul>
                            <li>
                                <a class="active" asp-controller="Product" asp-action="GetProductByCategoryId" asp-route-id="@subCatehory.Id">
                                <i class="icon-chevron-right"></i>@subCatehory.Name (@countSubCategoryProduct)</a>
                            </li>
                        </ul>
                    }
                }
            }
        </li>
    </ul>
}
