@using Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClinteLayout.cshtml";
    ICollection<Product> featuredProducts = ViewBag.FeaturedProducts;
    ICollection<Product> latestProducts = ViewBag.LatestProducts;
}

<div class="span9">
    <div class="well well-small">
        <h4>Featured Products <small class="pull-right">@featuredProducts.Count() featured products</small></h4>
        <div class="row-fluid">
            <div id="featured" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item">
                        <ul class="thumbnails">
                            @foreach (Product product in featuredProducts)
                            {
                                ProductPhoto aProductPhoto = product.ProductPhotos
                                                               .Where(ph => ph.Featured == true).FirstOrDefault();
                                string productPhotoName = aProductPhoto == null ? "SlideShow/NoImageFound.png" : aProductPhoto.Photo;

                                <li class="span3">
                                    <div class="thumbnail">
                                        <i class="tag"></i>
                                        <a href="product_details.html"><img src="~/@productPhotoName" alt=""></a>
                                        <div class="caption">
                                            <h5>@product.Name</h5>
                                            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$@product.Price</span></h4>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
            </div>
        </div>
    </div>

    <h4>Latest Products </h4>

    <ul class="thumbnails">
        @foreach (Product latestProduct in latestProducts)
        {
            ProductPhoto aProductPhoto = latestProduct.ProductPhotos
                                                               .Where(ph => ph.Featured == true).FirstOrDefault();
            string productPhotoName = aProductPhoto == null ? "SlideShow/NoImageFound.png" : aProductPhoto.Photo;

            <li class="span3">
                <div class="thumbnail">
                    <a href="product_details.html"><img src="~/@productPhotoName" alt=""></a>
                    <div class="caption">
                        <h5>@latestProduct.Name</h5>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    <h4 style="text-align:center">
                        <a class="btn" href="product_details.html"><i class="icon-zoom-in"></i></a> 
                        <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> 
                        <a class="btn btn-primary" href="#">$@latestProduct.Price</a>
                    </h4>
                </div>
            </div>
        </li>
        }
    </ul>
</div>

