@using Models;

@{
    Layout = null;
}

    <select class="srchTxt">
        <option value="">Select Category</option>
        @foreach (Category category in Model)
        {
            <option value="@category.Id">@category.Name</option>

            @if (category.Categories != null & category.Categories.Count() > 0)
            {
                foreach (Category subCategory in category.Categories)
                {
                    if (subCategory.Status == true)
                    {
                        <option value="@subCategory.Id">&nbsp; &nbsp; &nbsp; @subCategory.Name</option>
                    }
                }
            }
        }
    </select>
