@using Models;

@{
    Layout = null;
}

<form class="form-inline navbar-search" method="get" asp-controller="Product" asp-action="SearchProductByName">
    <input id="srchFld" class="srchTxt" name="productName" type="text" required="required">
    <select asp-items="@Model" class="srchTxt">
        <option value="">Select Category</option>         
    </select>
    <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
</form>
